body {
  margin: 0;
  padding: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

input {
  display: block;
}

#errorText {
  color: red;
  font-family: Roboto;
  margin-bottom: 30px;
}

#triviaHeader {
  color: rgb(185, 148, 123);
  font-family: Anton;
  font-size: 70px;
  text-align: center;
}

@keyframes questionHeader {
  0% {opacity: 0}
  100% {opacity: 1}
}

@keyframes vastausHeader {
  0% {opacity: 0}
  100% {opacity: 1}
}

#questionHeader {
  font-family: Roboto;
  font-style: italic;
  font-size: 30px;
  animation: questionHeader 4s;
}

#vastausHeader {
  animation: vastausHeader 4s;
}

#questionScreen {
  margin-top: 50px;
}

p {
  font-style: italic;
  font-family: Roboto;
  font-size: 25px;
}

label {
  font-family: Anton;
  padding: 10px;
}

#checkboxes {
  margin-bottom: 50px;
}

.valitseAihe {
  color: red;
}
